body{
    background-color: rgb(102, 161, 250);
    text-align: center;
  }
  
  .box{
    width: 600px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 30px;
  }
  
  button{
    width: 90px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .topnav {
    background-color: #333;
    margin: -8px;  
  }
  
  .axie{
    width: 120px;
    height: 120px;
    margin: 12px;
  }
  
  .charging{
    margin: auto;
  }